@model EventPortal.DAL.Models.Home

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- ======= Hero Section ======= -->
<section id="hero">
    <div class="hero-container" data-aos="zoom-in" data-aos-delay="100">
        <h1 class="mb-4 pb-0">Güncel Etkinlikler<br><span>Event Portal</span> İle Sizlerle</h1>
        <p class="mb-4 pb-0">Konserler, Festivaller, Tiyatrolar, Gösteriler ve Daha Fazlası...</p>
        <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="glightbox play-btn mb-4"></a>
        <a href="#speakers" class="about-btn scrollto">Tüm Etkinlikler ≫</a>
    </div>
</section><!-- End Hero Section -->

<main id="main">

    <!-- ======= About Section ======= -->
    <section id="about">
        <div class="container position-relative" data-aos="fade-up">
            <div class="row">
                <div class="col-lg-6">
                    <h2>About The Event</h2>
                    <p>
                        Sed nam ut dolor qui repellendus iusto odit. Possimus inventore eveniet accusamus error amet eius aut
                        accusantium et. Non odit consequatur repudiandae sequi ea odio molestiae. Enim possimus sunt inventore in
                        est ut optio sequi unde.
                    </p>
                </div>
                <div class="col-lg-3">
                    <h3>Where</h3>
                    <p>Downtown Conference Center, New York</p>
                </div>
                <div class="col-lg-3">
                    <h3>When</h3>
                    <p>Monday to Wednesday<br>10-12 December</p>
                </div>
            </div>
        </div>
    </section><!-- End About Section -->
       
    <!-- ======= Activities Section ======= -->
    <section id="speakers">
        <div class="container" data-aos="fade-up">
            <div class="section-header">
                <h2>KONSERLER</h2>
                <p>Hemen yerini ayırt!</p>
            </div>

            <div class="row">
                @foreach (var item in Model.ConcertList) 
                {
                <div class="col-lg-4 col-md-6">
                    <div class="speaker" data-aos="fade-up" data-aos-delay="100">
                            <a href="/concert/details/@item.Id"><img src="~/theevent/assets/img/activities/concert/@item.ConcertImage" alt="@item.ConcertType" class="img-fluid"></a>
                        <div class="details">
                                <h3><a href="/concert/details/@item.Id">@item.ConcertName</a></h3>
                                <div style="text-align : left; padding-left : 15px;">
                                    <p><i class="bi bi-music-note"></i> @item.ConcertType</p>
                                    <p><i class="bi bi-alarm-fill"></i> @item.ConcertTime</p>
                                    <p><i class="bi bi-pin-angle-fill"></i> @item.ConcertLocation</p>
                                    <p><i class="bi bi-file-text-fill"></i> @item.ConcertDescription</p>
                                </div>
                        </div>
                    </div>
                </div>
                }
                <a href="~/concert"><button type="button" class="btn btn-success btn-lg btn-block" style="padding : 5px 489px">KONSERLER ≫</button></a>
            </div>            
        </div>

        <br />
        <br />
        <br />

        <div class="container" data-aos="fade-up">
            <div class="section-header">
                <h2>FESTİVALLER</h2>
                <p>Hemen yerini ayırt!</p>
            </div>

            <div class="row">
                @foreach (var item in Model.FestivalList)
                {
                    <div class="col-lg-4 col-md-6">
                        <div class="speaker" data-aos="fade-up" data-aos-delay="100">
                            <a href="/festival/details/@item.Id"><img src="~/theevent/assets/img/activities/festival/@item.FestivalImage" alt="@item.FestivalType" class="img-fluid"></a>
                            <div class="details">
                                <h3><a href="/festival/details/@item.Id">@item.FestivalName</a></h3>
                                <div style="text-align : left; padding-left : 15px;">
                                    <p><i class="bi bi-music-note"></i> @item.FestivalType</p>
                                    <p><i class="bi bi-alarm-fill"></i> @item.FestivalTime</p>
                                    <p><i class="bi bi-pin-angle-fill"></i> @item.FestivalLocation</p>
                                    <p><i class="bi bi-file-text-fill"></i> @item.FestivalDescription</p>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                <a href="~/festival"><button type="button" class="btn btn-success btn-lg btn-block" style="padding : 5px 486px">FESTİVALLER ≫</button></a>
            </div>
        </div>

        <br />
        <br />
        <br />

        <div class="container" data-aos="fade-up">
            <div class="section-header">
                <h2>TİYATROLAR</h2>
                <p>Hemen yerini ayırt!</p>
            </div>

            <div class="row">
                @foreach (var item in Model.TheatreList)
                {
                    <div class="col-lg-4 col-md-6">
                        <div class="speaker" data-aos="fade-up" data-aos-delay="100">
                            <a href="/theatre/details/@item.Id"><img src="~/theevent/assets/img/activities/theatre/@item.TheatreImage" alt="@item.TheatreType" class="img-fluid"></a>
                            <div class="details">
                                <h3><a href="/theatre/details/@item.Id">@item.TheatreName</a></h3>
                                <div style="text-align : left; padding-left : 15px;">
                                    <p><i class="bi bi-music-note"></i> @item.TheatreType</p>
                                    <p><i class="bi bi-alarm-fill"></i> @item.TheatreTime</p>
                                    <p><i class="bi bi-pin-angle-fill"></i> @item.TheatreLocation</p>
                                    <p><i class="bi bi-file-text-fill"></i> @item.TheatreDescription</p>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                <a href="~/theatre"><button type="button" class="btn btn-success btn-lg btn-block" style="padding : 5px 487px">TİYATROLAR ≫</button></a>
            </div>
        </div>

        <br />
        <br />
        <br />

        <div class="container" data-aos="fade-up">
            <div class="section-header">
                <h2>GÖSTERİLER</h2>
                <p>Hemen yerini ayırt!</p>
            </div>

            <div class="row">
                @foreach (var item in Model.ExhibitionList)
                {
                    <div class="col-lg-4 col-md-6">
                        <div class="speaker" data-aos="fade-up" data-aos-delay="100">
                            <a href="/exhibition/details/@item.Id"><img src="~/theevent/assets/img/activities/exhibition/@item.ExhibitionImage" alt="@item.ExhibitionType" class="img-fluid"></a>
                            <div class="details">
                                <h3><a href="/exhibition/details/@item.Id">@item.ExhibitionName</a></h3>
                                <div style="text-align : left; padding-left : 15px;">
                                    <p><i class="bi bi-music-note"></i> @item.ExhibitionType</p>
                                    <p><i class="bi bi-alarm-fill"></i> @item.ExhibitionTime</p>
                                    <p><i class="bi bi-pin-angle-fill"></i> @item.ExhibitionLocation</p>
                                    <p><i class="bi bi-file-text-fill"></i> @item.ExhibitionDescription</p>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                <a href="~/exhibition"><button type="button" class="btn btn-success btn-lg btn-block" style="padding : 5px 487px">GÖSTERİLER ≫</button></a>
            </div>
        </div>

    </section><!-- End Activities Section -->

    <br />
    <br />

    <!-- ======= Subscribe Section ======= -->
    <section id="subscribe">
        <div class="container" data-aos="zoom-in">
            <div class="section-header">
                <h2>Newsletter</h2>
                <p>Rerum numquam illum recusandae quia mollitia consequatur.</p>
            </div>

            <form method="POST" action="#">
                <div class="row justify-content-center">
                    <div class="col-lg-6 col-md-10 d-flex">
                        <input type="text" class="form-control" placeholder="Enter your Email">
                        <button type="submit" class="ms-2">Subscribe</button>
                    </div>
                </div>
            </form>

        </div>
    </section><!-- End Subscribe Section -->

    <br />
    <br />

    <!-- ======= Gallery Section ======= -->
    <section id="gallery">

        <div class="gallery-slider swiper">            
            <div class="swiper-wrapper align-items-center">
                @foreach (var item in Model.ImageList)
                {
                    <div class="swiper-slide"><a href="~/theevent/assets/img/activities/imagelist/@item.Link" class="gallery-lightbox"><img src="~/theevent/assets/img/activities/imagelist/@item.ImageUrl" class="img-fluid" alt=""></a></div>
                }
            </div>
            <div class="swiper-pagination"></div>            
        </div>

    </section><!-- End Gallery Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="section-bg" style="background-color : #f5f5f5">

        <div class="container" data-aos="fade-up">

            <div class="section-header">
                <h2>Bizimle İletişime Geç!</h2>
                <p>Lütfen bilgilerinizi eksiksiz ve doğru doldurduğunuzdan emin olun.</p>
            </div>

            <div class="row contact-info">

                <div class="col-md-4">
                    <div class="contact-address">
                        <i class="bi bi-geo-alt"></i>
                        <h3>Address</h3>
                        <address>A108 Adam Street, NY 535022, USA</address>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="contact-phone">
                        <i class="bi bi-phone"></i>
                        <h3>Phone Number</h3>
                        <p><a href="tel:+155895548855">+1 5589 55488 55</a></p>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="contact-email">
                        <i class="bi bi-envelope"></i>
                        <h3>Email</h3>
                        <p><a href="mailto:info@example.com">info@example.com</a></p>
                    </div>
                </div>

            </div>

            <div class="form">
                <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                        </div>
                        <div class="form-group col-md-6 mt-3 mt-md-0">
                            <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                        </div>
                    </div>
                    <div class="form-group mt-3">
                        <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
                    </div>
                    <div class="form-group mt-3">
                        <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
                    </div>
                    <div class="my-3">
                        <div class="loading">Loading</div>
                        <div class="error-message"></div>
                        <div class="sent-message">Your message has been sent. Thank you!</div>
                    </div>
                    <div class="text-center"><button type="submit">Send Message</button></div>
                </form>
            </div>

        </div>
    </section><!-- End Contact Section -->
    <!-- =======  F.A.Q Section ======= -->
    <section id="faq">

        <div class="container" data-aos="fade-up">

            <div class="section-header">
                <h2>S.S.S </h2>
            </div>

            <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="100">
                <div class="col-lg-9">

                    <ul class="faq-list">

                        <li>
                            <div data-bs-toggle="collapse" class="collapsed question" href="#faq1">Non consectetur a erat nam at lectus urna duis? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                            <div id="faq1" class="collapse" data-bs-parent=".faq-list">
                                <p>
                                    Feugiat pretium nibh ipsum consequat. Tempus iaculis urna id volutpat lacus laoreet non curabitur gravida. Venenatis lectus magna fringilla urna porttitor rhoncus dolor purus non.
                                </p>
                            </div>
                        </li>

                        <li>
                            <div data-bs-toggle="collapse" href="#faq2" class="collapsed question">Feugiat scelerisque varius morbi enim nunc faucibus a pellentesque? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                            <div id="faq2" class="collapse" data-bs-parent=".faq-list">
                                <p>
                                    Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque elit ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa tincidunt dui.
                                </p>
                            </div>
                        </li>

                        <li>
                            <div data-bs-toggle="collapse" href="#faq3" class="collapsed question">Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                            <div id="faq3" class="collapse" data-bs-parent=".faq-list">
                                <p>
                                    Eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Faucibus pulvinar elementum integer enim. Sem nulla pharetra diam sit amet nisl suscipit. Rutrum tellus pellentesque eu tincidunt. Lectus urna duis convallis convallis tellus. Urna molestie at elementum eu facilisis sed odio morbi quis
                                </p>
                            </div>
                        </li>

                        <li>
                            <div data-bs-toggle="collapse" href="#faq4" class="collapsed question">Ac odio tempor orci dapibus. Aliquam eleifend mi in nulla? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                            <div id="faq4" class="collapse" data-bs-parent=".faq-list">
                                <p>
                                    Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque elit ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa tincidunt dui.
                                </p>
                            </div>
                        </li>

                        <li>
                            <div data-bs-toggle="collapse" href="#faq5" class="collapsed question">Tempus quam pellentesque nec nam aliquam sem et tortor consequat? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                            <div id="faq5" class="collapse" data-bs-parent=".faq-list">
                                <p>
                                    Molestie a iaculis at erat pellentesque adipiscing commodo. Dignissim suspendisse in est ante in. Nunc vel risus commodo viverra maecenas accumsan. Sit amet nisl suscipit adipiscing bibendum est. Purus gravida quis blandit turpis cursus in
                                </p>
                            </div>
                        </li>

                        <li>
                            <div data-bs-toggle="collapse" href="#faq6" class="collapsed question">Tortor vitae purus faucibus ornare. Varius vel pharetra vel turpis nunc eget lorem dolor? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                            <div id="faq6" class="collapse" data-bs-parent=".faq-list">
                                <p>
                                    Laoreet sit amet cursus sit amet dictum sit amet justo. Mauris vitae ultricies leo integer malesuada nunc vel. Tincidunt eget nullam non nisi est sit amet. Turpis nunc eget lorem dolor sed. Ut venenatis tellus in metus vulputate eu scelerisque. Pellentesque diam volutpat commodo sed egestas egestas fringilla phasellus faucibus. Nibh tellus molestie nunc non blandit massa enim nec.
                                </p>
                            </div>
                        </li>

                    </ul>

                </div>
            </div>

        </div>
    </section><!-- End  F.A.Q Section -->

</main><!-- End #main -->
